body{
    /* This is the body */
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    box-sizing: border-box;
}
nav{
    /* This is the nav */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:skyblue;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.first img{
    /* This is the logo */
    height: 72.35px;
    width: 150px;
}
.nav-list ul{
    margin-top: 30px;
    display: flex;
}
.nav-list ul li{
    /* This shows styling of the listed items */
    list-style: none;
    margin-left: 18px;
}
.nav-list ul li :hover{
    color: whitesmoke;
}
.nav-list a{
    text-decoration: none;
    font-size: 14px;
}
.top{
    /* This is styling for "join our hub" */
    height: 100px;
    border-radius: 30px;
    padding: 15px;
    background-color:rgb(236, 233, 30);
}

/* These are styles for the landing page */
.hello{
    display: flex;
    justify-content: space-between;
}
.hello img{
    font-size: 14px;
    font-size: 14px;
    height: 400px;
}
.words{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-left: 200px;   
}
.introduction{
    box-shadow: 0 2px 0 skyblue;
}
/* These are styes for the footer */
.last h1{
  text-align: center;
}
.texts h1{
    text-align: center;
}
.things{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.grid-item img{
    width: 100%;
    height: auto;
    display: block;
}
.projects{
    box-shadow: 0 2px 0 skyblue;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:large;
}
